################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/DbDarwin/bin/Debug/netcoreapp2.1
