Source/.vs/
Source/DbDarwin.Model/bin/
Source/DbDarwin.Model/obj/
Source/DbDarwin.Service/bin/
Source/DbDarwin.Service/obj/
Source/DbDarwin.UI/bin/
Source/DbDarwin.UI/obj/
Source/DbDarwin.UnitTestProject/bin/
Source/DbDarwin/bin/
Source/packages/
Source/DbDarwin/obj/
Source/DbDarwin.UnitTestProject/obj/
/.vs/DbDarwin/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Source/DbDarwin.Model.Standard
